{#{% if menu %}#}
<ul id="mini-nav">
  {% for item in menu %}
    <li>
      <a target="{{ item.target }}" href="{{ item.link }}">
        {{ item.title }}
      </a>
      {% if not loop.last %} | {% endif %}
    </li>
  {% endfor %}
</ul>
{#{% endif %}#}
